<template>
	<router-view :user="userOB"></router-view>
</template>


<script>
	module.exports = {
		data() {
			return {
				userOB: {}
			};
		},
		props: {
			user: {}
		},
		created: function(){
		},
		mounted: function(){
			this.userOB = this.user;
		},
		methods: {
		},
		computed: {
		},
		components: {
		}
	}
</script>

<style>

</style>