<template>
	<div class="login-signin">
		<div class="mb-20">
			<h3>Iniciar sesión</h3>
		</div>
		<div class="form-group mb-5" v-if="error">
			<div class="alert alert-custom alert-light-danger fade show mb-5" role="alert">
				<div class="alert-icon">
					<i class="flaticon-warning"></i>
				</div>
				<div class="alert-text">{{ error }}</div>
				<div class="alert-close">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="error = false">
						<span aria-hidden="true">
							<i class="ki ki-close"></i>
						</span>
					</button>
				</div>
			</div>
		</div>
		<div class="form-group mb-5">
			<input class="form-control h-auto form-control-solid py-4 px-8" type="email" placeholder="Correo electrónico" v-model="userName" autocomplete="off" />
		</div>
		<div class="form-group mb-5">
			<input class="form-control h-auto form-control-solid py-4 px-8" type="password" placeholder="Contraseña" v-model="userPass" />
		</div>

		<button class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4" @click.prevent="login">Entrar</button>
		
	</div>
</template>

<script>
	module.exports = {
		data: function() {
			return {
				error: false,
				userName: '',
				userPass: '',
			}
		},
		props: {
		},
		mounted: function() {
		},
		methods: {
			login: function(){
				var _data = {
					userName: this.userName,
					userPass: this.userPass,
				};

				_api.users().login(_data).then((res) => {
					if( res.status == 'KO' ){
						switch(res.error){
							case 'E_USER_PASSWORD':
								this.error = 'Usuario o contraseña incorrectos';
								break;
							default:
								break;
						}
						this.userName = '';
						this.userPass = '';

						return;
					}
					location.href = indexURL+'/admin/';
				});
			}
		},
		watch:{
		},
		computed: {
		},
		components: {
		}
	}
</script>

<style>

</style>