<template>
	<div class="modal fade" id="createProcess" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<form method="post" class="form-horizontal" @submit.prevent="saveWorker">
					<div class="modal-header">
						<h4 class="modal-title">Crear proceso</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<input type="hidden" name="subcommand" value="worker.save">
						<div class="row">
							<div class="form-group col-md-6">
								<label class="control-label col-md-12">
									Status
								</label>
								<div class="col-md-12">
									<select name="status" class="form-control" v-model="status">
										<option value="">Selecciona el tipo</option>
										<option value="test">test</option>
										<option value="awaiting">awaiting</option>
										<option value="scheduled">scheduled</option>
									</select>
								</div>
							</div>

							<div class="form-group col-md-6">
								<label class="control-label col-md-12">
									Lock mode
								</label>
								<div class="col-md-12">
									<select name="lockMode" class="form-control" v-model="lockMode">
										<option value="">Selecciona un bloqueo</option>
										<option value="shared">shared</option>
										<option value="exclusive">exclusive</option>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-6">
								<label class="control-label col-md-12">
									Minutos
								</label>
								<div class="col-md-12">
									<select name="minutes" class="form-control" v-model="minutes">
										<option value="*">*</option>
										<option value="0">0</option>
										<option value="*/5">*/5</option>
										<option value="*/15">*/15</option>
										<option value="*/30">*/30</option>
									</select>
								</div>
							</div>

							<div class="form-group col-md-6">
								<label class="control-label col-md-12">
									Horas
								</label>
								<div class="col-md-12">
									<select name="hours" class="form-control" v-model="hours">
										<option value="*">*</option>
										<option value="*/2">*/2</option>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-12">
								Lock Name
							</label>
							<div class="col-md-12">
								<input name="lockName" class="form-control" v-model="lockName">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-12">
								Worker
							</label>
							<div class="col-md-12">
								<select name="worker" class="form-control" v-model="worker" @change="setLockName">
									<option value="">Selecciona un worker</option>
									<option :value="worker" v-for="worker in workers">{{worker}}</option>
								</select>
							</div>
						</div>
						<!--
						<div class="form-group">
							<label class="control-label col-md-12">
								Server
							</label>
							<div class="col-md-12">
								<select name="server" class="form-control" v-model="serverId">
									<option value="">Todos</option>
									<option :value="server._id" v-for="server in servers">{{server.name}} ({{server.url}})</option>
								</select>
							</div>
						</div>-->

						<div class="form-group">
							<label class="control-label col-md-12">
								Parametros
							</label>
							<div class="col-md-12">
								<textarea name="params" class="form-control" v-model="params"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-primary" @click.prevent="saveWorker">Guardar</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</template>

<script>
	module.exports = {
		data() {
			return {
				workers: {},
				servers: {},
				status: '',
				lockMode: '',
				minutes: '*',
				hours: '*',
				lockName: '',
				worker: '',
				// serverId: '',
				params: ''
			};
		},
		props: {
			workers: {},
			servers: {}
		},
		created: function(){
		},
		mounted: function(){
		},
		methods: {
			saveWorker: function(){
				let _data = {
					status: this.status,
					lockMode: this.lockMode,
					minutes: this.minutes,
					hours: this.hours,
					lockName: this.lockName,
					worker: this.worker,
					// serverId: this.serverId,
					params: this.params
				};

				KTApp.block('#createProcess .modal-content', {
					overlayColor: '#000000',
					type: 'v2',
					state: 'primary',
					message: 'Creando...'
				});

				_api.cron().workerSave(_data).then((res) => {

					if( res.status == 'OK' ){
						$('#createProcess').modal('hide');

						this.$emit('reload');
					} else {
						this.error = res.result;
					}
					KTApp.unblock('#createProcess .modal-content');
				});
			},
			setLockName: function(){
				this.lockName = this.worker.replace('.php','');
			}
			
		},
		watch:{
		},
		computed: {
		},
		components: {
		}
	}
</script>

<style>

</style>