<template>
	<div class="row mb-3">
		<div class="col-lg-6">
			<div class="card card-custom">
				<div class="card-header flex-wrap border-0 pt-6 pb-0">
					<div class="card-title">
						<h3 class="card-label">Demonio de procesos
					</div>
				</div>
				<div class="card-body">
					<table class="table table-hover my-0">
						<thead>
							<tr>
								<th>serverId</th>
								<th>lock</th>
								<th>status</th>
								<th>pid</th>
								<th>inicio</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="daemon in daemons">
								<td>{{daemon.serverId}}</td>
								<td>{{daemon.procLock}}</td>
								<td>{{daemon.procStatus}}</td>
								<td>{{daemon.pid}}</td>
								<td>{{daemon.procDate}} {{daemon.procTime}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="card card-custom">
				<div class="card-header flex-wrap border-0 pt-6 pb-0">
					<div class="card-title">
						<h3 class="card-label">Gráfico de lanzamientos
					</div>
				</div>
				<div class="card-body">
					<div class="graph">
						<div class="graph-svg"><!--{{graph.launchs}}--></div>
						<div class="graph-bar"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	module.exports = {
		data() {
			return {
				'daemons': {}
			};
		},
		props: {
		},
		created: function(){

		},
		mounted: function(){
			this.query();
		},
		methods: {
			'query': function(){
				// get workers
				_api.cron().getDaemon().then((res) => {
					this.daemons = res.result;
				});
			}
		},
		watch:{
		},
		computed: {
		},
		components: {
		}
	}
</script>

<style>

</style>