<template>
	<table class="table table-hover my-0 mt-3">
		<thead>
			<tr>
				<th>Status</th>
				<th>LockMode</th>
				<th>Comando</th>
				<!-- <th>Server</th> -->
				<th>Params</th>
				<th>Launch</th>
				<th width="10%"></th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="process in processes">
				<td>{{process.procStatus}}</td>
				<td>{{process.procLockMode}}</td>
				<td>
					<strong>{{process.procWorker}}</strong>
					<br>
					({{process.procLock}})
				</td>
				<!-- <td>{{process.server.name}} ({{process.server.url}})</td> -->
				<td><pre v-if="process.procParams != null">{{process.procParams}}</pre></td>
				<td>
					<code style="white-space: pre-wrap" v-if="process.isTest">cd resources/cli && php cli.proc.php worker {{process.procWorker}} {{process._id}}</code>
					<div v-else v-html="process.htmlNextLaunch"></div>
				</td>
				<td class="text-right">
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false" type="button">Opciones </button>

						<div class="dropdown-menu" role="menu">
							<a href="#" @click.prevent="scheduleDisable(process._id)" class="dropdown-item" v-if="process.isScheduled"><i class="las la-times"></i> Desabilitar</a>
							<a href="#" @click.prevent="scheduleLaunch(process._id)" class="dropdown-item" v-if="process.isScheduled"><i class="las la-rocket"></i> Lanzar</a>

							<a href="#" @click.prevent="scheduleEnable(process._id)" class="dropdown-item" v-if="process.isScheduledDisabled"><i class="las la-check"></i> Habilitar</a>
							<a href="#" @click.prevent="scheduleLaunch(process._id)" class="dropdown-item" v-if="process.isScheduledDisabled"><i class="las la-rocket"></i> Lanzar proceso</a>

							<a href="#" @click.prevent="cronLaunch(process._id)" class="dropdown-item" v-if="process.isTest"><i class="las la-rocket"></i> Lanzamiento de tarea</a>

							<a href="#" @click.prevent="scheduleLaunchFix(process._id)" class="dropdown-item"><i class="las la-code"></i> Parametros</a>
							<a href="#" @click.prevent="scheduleRemove(process._id)" class="dropdown-item"><i class="las la-trash"></i> Eliminar tarea</a>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</template>

<script>
	module.exports = {
		data() {
			return {
				'processes': {}
			};
		},
		props: {
			'processes': Object
		},
		created: function(){
		},
		mounted: function(){
		},
		methods: {
			scheduleLaunch: function(id){
				_api.cron().scheduleLaunch({_id: id}).then((res) => {
					this.$parent.query();
				});
			},
			scheduleLaunchFix: function(id){
				_api.cron().scheduleLaunchFix({_id: id}).then((res) => {
					this.$parent.query();
				});
			},
			scheduleRemove: function(id){
				_api.cron().scheduleRemove({_id: id}).then((res) => {
					this.$parent.query();
				});
			},
			scheduleDisable: function(id){
				_api.cron().scheduleDisable({_id: id}).then((res) => {
					this.$parent.query();
				});
			},
			scheduleEnable: function(id){
				_api.cron().scheduleEnable({_id: id}).then((res) => {
					this.$parent.query();
				});
			},
			cronLaunch: function(id){
				_api.cron().cronLaunch({_id: id}).then((res) => {
					this.$parent.query();
				});
			},
		},
		watch:{
		},
		computed: {
		},
		components: {
		}
	}
</script>

<style>

</style>