<template>
	<div>
		<div class="card card-custom gutter-b">
			<div class="card-header flex-wrap border-0 pt-6 pb-0">
				<div class="card-title">
					<h3 class="card-label">Procesos disponibles actualmente 
					<span class="text-muted pt-2 font-size-sm d-block">Hora del servidor: {{serverTime}}</span></h3>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-2">
						<a class="btn btn-success" data-toggle="modal" href="#createProcess"><i class="las la-plus"></i> Crear proceso</a>
					</div>
					<label class="col-1 offset-6 col-form-label text-right">Server</label>
					<div class="col-3">
						<select name="server" class="form-control" v-model="serverIdFilter">
							<option value="">Todos</option>
							<option :value="server._id" v-for="server in servers">{{server.name}} ({{server.url}})</option>
						</select>
					</div>
				</div>
					

				<ul class="nav nav-tabs  nav-tabs-line" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#main" role="tab">Main</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#status" role="tab">Status</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="main" role="tabpanel">
						<cron-list :processes="procOBs"></cron-list>
					</div>
					<div class="tab-pane" id="status" role="tabpanel">
						<cron-workers :workers="workerOBs"></cron-workers>
					</div>
				</div>
			</div>

		</div>
		<cron-daemon></cron-daemon>

		<!-- END PAGE BASE CONTENT -->

		<cron-create :workers="workers" :servers="servers" @reload="query"></cron-create>

		<div class="modal fade" id="cleanProcess" tabindex="-1" role="basic" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
						<h4 class="modal-title">Limpiar procesos</h4>
					</div>
					<div class="modal-body">

						<p>Eliminar procesos finalizados.</p>
						<input type="hidden" name="subcommand" value="worker.clean">
						<div class="form-group">
							<label class="control-label col-md-4">
								Worker
							</label>
							<div class="col-md-8">
								<select name="status" class="form-control" v-model="workerToClean">
									<option value="*">*</option>
									<option v-for="(v, workerName) in workerNames" :value="workerName">{{workerName}}</option>
								</select>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn dark btn-outline" data-dismiss="modal">Cancelar</button>
						<button type="button" @click.prevent="workerClean" class="btn green">Limpiar</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>

		<form method="post" id="commandForm" style="display:none">
			<input type="hidden" name="subcommand" value="">
			<input type="hidden" name="_id" value="">
		</form>
	</div>
</template>

<script>
	module.exports = {
		data() {
			return {
				'serverTime': null,
				'procOBs': {},
				'workerOBs': {},
				'workers': false,
				'servers': false,
				'workerNames': {},
				'serverIdFilter': '',
				'workerToClean': '*',
				'meta': {
					'total': false,
					'items': false,
					'page': 1
				}
			};
		},
		props: {
		},
		created: function(){

		},
		mounted: function(){
			this.query();
		},
		methods: {
			'query': function(){
				// get workers
				_api.cron().getWorkers().then((res) => {
					this.workers = res.result;
				});

				// get servers
				_api.cron().getServers().then((res) => {
					this.servers = res.result;
				});


				let _params = new URLSearchParams();
				if( this.serverIdFilter !== false ){
					_params.set('serverId', this.serverIdFilter);
				}

				_api.cron().getProcesses(_params).then((res) => {
					this.serverTime = res.result.serverTime;
					this.procOBs = res.result.procOBs;
					this.workerOBs = res.result.workerOBs;
					this.workerNames = res.result.workerNames;
					console.log(this.workerNames)
				});
			},
			cronCommand: function(id, command){
				_api.cron().command().then((res) => {
				});
			},
			workerSave: function(){

			},
			workerClean: function(){

				_api.cron().workerClean({worker: this.workerToClean}).then((res) => {

				});
			}
		},
		watch:{
			'meta.page': function(){
				this.selected = [];
				this.query();
			},
			'serverIdFilter': function(){
				this.query();
			}
		},
		computed: {
		},
		components: {
			'cron-list': httpVueLoader(indexURL + '/r/js/vue/admin/cron/list.vue'),
			'cron-workers': httpVueLoader(indexURL + '/r/js/vue/admin/cron/workers.vue'),
			'cron-daemon': httpVueLoader(indexURL + '/r/js/vue/admin/cron/daemon.vue'),
			'cron-create': httpVueLoader(indexURL + '/r/js/vue/admin/cron/create.vue'),
			// 'widget-pagination': httpVueLoader(indexURL + '/r/js/vue/components/pagination.vue'),
		}
	}
</script>

<style>

</style>