<template>
	<table class="table table-hover my-0 mt-3">
		<thead>
			<tr>
				<th></th>
				<th>Status</th>
				<th>Lock</th>
				<th>Server</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="workerOB in workers">
				<td>{{workerOB._id}}</td>
				<td>
					<span :class="workerOB.procStatus">{{workerOB.procStatus}}</span>
				</td>
				<td>
					<strong>{{workerOB.procLock}}</strong> ({{workerOB.procLockMode}})
					<div class="progress">
						<div class="progress-bar" role="progressbar" :aria-valuenow="workerOB.procProgress" aria-valuemin="0" aria-valuemax="100" :style="'width: ' + workerOB.procProgress + '%;'">
							{{workerOB.procProgress}}%
						</div>
					</div>
				</td>
				<td>{{workerOB.server.name}} ({{workerOB.server.url}}) [{{workerOB.pid}}]</td>
				<td class="text-right">
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false" type="button">Opciones </button>

						<div class="dropdown-menu" role="menu">
							<a href="#" @click.prevent="cronCommand(workerOB._id, 'worker.awaiting')" class="dropdown-item" v-if="workerOB.isFinished"><i class="fa fa-rocket"></i> Lanzar el proceso</a>
							<a href="#" @click.prevent="workerKill(workerOB._id)" class="dropdown-item" v-if="workerOB.isRunning"><i class="fa fa-times"></i> Kill</a>
							<a href="#" @click.prevent="cronCommand(workerOB._id, 'worker.remove')" class="dropdown-item" v-if="workerOB.isAwaiting"><i class="fa fa-trash"></i> Eliminar</a>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-right">
					<a class="btn btn-warning" data-toggle="modal" href="#cleanProcess"><i class="fa fa-trash"></i> Limpiar procesos</a>
				</td>
			</tr>
		</tfoot>

	</table>
</template>

<script>
	module.exports = {
		data() {
			return {
				'workers': {}
			};
		},
		props: {
			'workers': Object
		},
		created: function(){
		},
		mounted: function(){
		},
		methods: {
			// workerSave
			workerKill: function(id){
				_api.cron().workerKill({_id: id}).then((res) => {
					this.$parent.query();
				});
			},
			// workerClean
		},
		watch:{
		},
		computed: {
		},
		components: {
		}
	}
</script>

<style>

</style>