<template>
	<div :id="id" style="height: 500px;"></div>
</template>

<script>
module.exports = {
	data() {
		return {
		};
	},
	props: {
		id: {
			type: String,
			default: ''
		},
		data: {
			type: Object,
			default: () => {}
		},
	},
	created: function(){
	},
	mounted: function(){
		var e = AmCharts.makeChart(this.id, {
			type: "serial",
			theme: "light",
			marginRight: 40,
			marginLeft: 40,
			autoMarginOffset: 20,
			// mouseWheelZoomEnabled: !0,
			dataDateFormat: "YYYY-MM-DD",
			valueAxes: [{
				id: "v1",
				axisAlpha: 0,
				position: "left",
				ignoreAxisWidth: !0
			}],
			balloon: {
				borderThickness: 1,
				shadowAlpha: 0
			},
			graphs: [{
				id: "g1",
				balloon: {
					drop: !0,
					adjustBorderColor: !1,
					color: "#ffffff"
				},
				bullet: "round",
				bulletBorderAlpha: 1,
				bulletColor: "#FFFFFF",
				bulletSize: 5,
				hideBulletsCount: 50,
				lineThickness: 2,
				title: "red line",
				useLineColorForBulletBorder: !0,
				valueField: "value",
				balloonText: "<span style='font-size:18px;'>[[value]]</span>"
			}],
			chartScrollbar: {
				graph: "g1",
				oppositeAxis: !1,
				offset: 30,
				scrollbarHeight: 80,
				backgroundAlpha: 0,
				selectedBackgroundAlpha: .1,
				selectedBackgroundColor: "#888888",
				graphFillAlpha: 0,
				graphLineAlpha: .5,
				selectedGraphFillAlpha: 0,
				selectedGraphLineAlpha: 1,
				autoGridCount: !0,
				color: "#AAAAAA"
			},
			chartCursor: {
				pan: !0,
				valueLineEnabled: !0,
				valueLineBalloonEnabled: !0,
				cursorAlpha: 1,
				cursorColor: "#258cbb",
				limitToGraph: "g1",
				valueLineAlpha: .2,
				valueZoomable: !0
			},
			valueScrollbar: {
				oppositeAxis: !1,
				offset: 50,
				scrollbarHeight: 10
			},
			categoryField: "date",
			categoryAxis: {
				parseDates: !0,
				dashLength: 1,
				minorGridEnabled: !0
			},
			dataProvider: this.data
		});

	},
	methods: {
	},
	watch: {
	},
	computed: {
	},
	components: {
	}
}
</script>

<style>
</style>