<template>
	<div class="datatable datatable-bordered datatable-head-custom datatable-default datatable-primary datatable-loaded">
		<table class="datatable-table ">
			<thead class="datatable-head">
				<!-- <slot name="head"></slot> -->
				<tr class="datatable-row">
					<th data-field="RecordID" class="datatable-cell-center datatable-cell datatable-cell-check">
						<span style="width: 20px;"><label class="checkbox checkbox-single checkbox-all"><input type="checkbox">&nbsp;<span></span></label></span>
					</th>
					<th v-for="header in headers" class="datatable-cell" :class="{'datatable-cell-sort': header.sortable}" :data-sort="header.id" @click="sortData(header.id)">
						<span>{{ header.name }}</span>
					</th>
					<th class="datatable-cell" v-if="hasActionSlot"></th>
				</tr>
			</thead>
			<tbody class="datatable-body" style="">
				<!-- <slot name="body"></slot> -->
				<tr class="datatable-row" v-for="row in rows">
					<td class="datatable-cell-center datatable-cell datatable-cell-check" data-field="RecordID" aria-label="1">
						<span style="width: 20px;"><label class="checkbox checkbox-single"><input type="checkbox" value="1">&nbsp;<span></span></label></span>
					</td>
					<td class="datatable-cell" v-for="cell in row.data">
						<template v-if="cell.id == 'sellerType'">
							<span class="label label-warning label-pill label-inline mr-2" v-if="cell.text == 'professional'">Profesional</span>
							<span class="label label-primary label-pill label-inline mr-2" v-else>Particular</span>
						</template>
						<template v-else-if="cell.id == 'userStatus'">
							<span class="label label-success label-pill label-inline mr-2" v-if="cell.text == '1'">Activo</span>
							<span class="label label-danger label-pill label-inline mr-2" v-else>Inactivo</span>
						</template>
						<template v-else-if="cell.id == 'images'">
							<i class="las la-image" v-if="cell.text == true"></i>
						</template>
						<template v-else>{{ cell.text }}</template>
					</td>
					<td class="datatable-cell text-right" v-if="hasActionSlot" :data-id="row.id">
						<slot name="actions" v-bind:slotProps="row"></slot>
					</td>
				</tr>

			</tbody>
		</table>
		<div class="datatable-pager datatable-paging-loaded">
			<widget-pagination
					:total="Math.ceil(meta.total / meta.items)"
					:current="meta.page"
					:buttons="7"
					v-model="meta.page"
				></widget-pagination>

			<div class="datatable-pager-info my-2 mb-sm-0">
				<span class="kt-datatable__pager-detail">Mostrando 1 a {{meta.items}} de {{ formatNumber(meta.total) }}</span>
			</div>
		</div>
	</div>
</template>

<script>
module.exports = {
	data() {
		return {
			cell: false,
			headers: [],
			rows: [],
			meta: {
				'total': 0,
				'items': 0,
				'page': 1
			}
		};
	},
	props: {
		headers: [],
		rows: [],
		meta: {}
	},
	created: function(){
	},
	mounted: function(){
		var dropdownMenu;
		$('body').on('show.bs.dropdown', '.datatable .datatable-body', function(e) {
			dropdownMenu = $(e.target).find('.dropdown-menu');
			$('body').append(dropdownMenu.detach());
			dropdownMenu.css('display', 'block');
			dropdownMenu.position({
				'my': 'right top',
				'at': 'right bottom',
				'of': $(e.relatedTarget),
			});
		}).on('hide.bs.dropdown', '.datatable .datatable-body', function(e) {
			$(e.target).append(dropdownMenu.detach());
			dropdownMenu.hide();
		});

		// remove dropdown if window resize
		$(window).on('resize', function(e) {
			if (typeof dropdownMenu !== 'undefined') {
				dropdownMenu.hide();
			}
		});
	},
	methods: {
		sortData: function(sort){
			var $this = $('.datatable-cell-sort[data-sort="'+sort+'"]');
			$('.datatable-cell-sorted').removeClass('datatable-cell-sorted');
			$('.datatable-cell-sort span > i').remove();

			var prevSort = $this.data('direction');
			$('.datatable-cell-sort').data('direction', '');

			var sortStr = false;
			if( prevSort == 'desc' ){
				$this.data('direction', '');
			} else if( prevSort == 'asc' ){
				sortStr = sort + ' ' + 'desc';
				$this.data('direction', 'desc');
				$this.find('span').append('<i class="flaticon2-arrow-down"></i>');
				$this.addClass('datatable-cell-sorted');
			} else {
				sortStr = sort + ' ' + 'asc';
				$this.data('direction', 'asc');
				$this.find('span').append('<i class="flaticon2-arrow-up"></i>');
				$this.addClass('datatable-cell-sorted');
			}

			// this.query();
			this.$emit('sort', sortStr);
		}
	},
	watch: {
		'meta.page': function(){
			this.$emit('reload');
		},
	},
	computed: {
		_sortClass: function(){

		},
		hasActionSlot: function(){
			return !!this.$slots.actions
		}
	},
	components: {
		'widget-pagination': httpVueLoader(indexURL + '/r/js/vue/components/pagination.vue'),
	}
}
</script>

<style>
.datatable-cell-sort{ cursor: pointer; }
/*.datatable-row > .datatable-cell { display:table-cell!important; }*/
.datatable-head .datatable-row > .datatable-cell.datatable-cell-sorted > span, 
.datatable-foot .datatable-row > .datatable-cell.datatable-cell-sorted > span{ color: #3699FF; }
.datatable-head .datatable-row > .datatable-cell > span > i { display: inline-block; position: relative; right: -10px; line-height: 0; vertical-align: middle; font-size: 1.1rem; }
.datatable-head .datatable-row > .datatable-cell.datatable-cell-sort i, 
.datatable-body .datatable-row > .datatable-cell.datatable-cell-sort i, 
.datatable-foot .datatable-row > .datatable-cell.datatable-cell-sort i { font-size: 0.6rem; }
</style>