<template>
	<div>
		<div :id="id" class="carousel slide" data-ride="false">
			<div class="carousel-inner" style="width:100%; height: 400px !important;">
				<div class="carousel-item" :class="{'active':k == 0}" v-for="(imageUrl, k) in images">
					<div class="background-image" :style="'background-image: url(' + imageUrl + ')'"></div>
					<img class="d-block img-fluid" :src="imageUrl">
				</div>
			</div>
			<a class="carousel-control-prev" :href="'#' + id" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" :href="'#' + id" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>


	</div>
	
</template>

<script>
module.exports = {
	data() {
		return {
			// imageUrl: false
		}
	},
	props: {
		id: {
			type: String
		},
		images: {
			type: Array
		}
	},
	watch: {
	},
	computed: {
	},
	mounted: function() {

	},
	methods: {
	}
}
	
</script>

<style>
.carousel-item{
	height: 400px;
    /*background-color: turquoise;*/
    /*display: flex;*/
    align-items: center;
    justify-content: center;

}
.carousel-item > img{
	max-width: 100%;
	max-height: 100%;
    margin: auto auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.background-image{
	/* Add the blur effect */
	filter: blur(100px);
	-webkit-filter: blur(100px);
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
</style>