<template>
	<div class="modal fade" :id="target" tabindex="-1" role="dialog">
		<div :class="'modal-dialog modal-dialog-centered ' + size" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel"><slot name="header"></slot></h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i aria-hidden="true" class="ki ki-close"></i>
					</button>
				</div>
				<div class="modal-body">
					<slot name="content"></slot>
				</div>
				<div class="modal-footer">
					<slot name="footer"></slot>
				</div>
			</div>
		</div>
	</div>
	
</template>

<script>
module.exports = {
	data() {
		return {
		}
	},
	props: {
		target: {
			type: String,
			default: ''
		},
		size: {
			type: String,
			default: ''
		}
	},
	watch: {
	},
	computed: {
	},
	mounted: function() {

	},
	methods: {
	}
}
	
</script>

<style>
	
</style>