<template>
	<div class="d-flex justify-content-between align-items-center flex-wrap">
		<div class="d-flex flex-wrap py-2 mr-3">
			<template v-for="it in _items">
				<a v-if="it == 'pd'" href="#" class="btn btn-icon btn-circle btn-sm btn-light-primary mr-2 my-1 disabled" @click.prevent=""><i class="ki ki-bold-arrow-back icon-xs"></i></a>
				<a v-else-if="it == 'pe'" href="#" class="btn btn-icon btn-circle btn-sm btn-light-primary mr-2 my-1" @click.prevent="$emit('input', (current - 1))"><i class="ki ki-bold-arrow-back icon-xs"></i></a>

				<a v-else-if="it == 'nd'" href="#" class="btn btn-icon btn-circle btn-sm btn-light-primary mr-2 my-1 disabled" @click.prevent=""><i class="ki ki-bold-arrow-next icon-xs"></i></a>
				<a v-else-if="it == 'ne'" href="#" class="btn btn-icon btn-circle btn-sm btn-light-primary mr-2 my-1" @click.prevent="$emit('input', (current + 1))"><i class="ki ki-bold-arrow-next icon-xs"></i></a>

				<a v-else-if="it == 'c'" href="#" class="btn btn-icon btn-circle btn-sm border-0 btn-hover-primary active mr-2 my-1">{{current}}</a>
				<a v-else href="#" class="btn btn-icon btn-circle btn-sm border-0 btn-hover-primary mr-2 my-1" @click.prevent="$emit('input', it)">{{it}}</a>
			</template>
		</div>
	</div>
</template>

<script>
module.exports = {
	data: function() {
		return {
			'items': []
		}
	},
	props: {
		'current': Number,
		'total': Number,
		'buttons': Number
	},
	mounted: function() {

	},
	computed: {
		_items: function(){
			this.current = this.lowerLimit = this.upperLimit = Math.min(this.current,this.total);

			for (this.b = 1; this.b < this.buttons && this.b < this.total;){
				if (this.lowerLimit > 1) {
					this.lowerLimit--;
					this.b++;
				}
				if (this.b < this.buttons && this.upperLimit < this.total) {
					this.upperLimit++;
					this.b++;
				}
			}

			this.items = [];
			this.items[0] = (this.current > 1) ? 'pe' : 'pd';

			for (this.i = this.lowerLimit; this.i <= this.upperLimit; this.i++) {
				if (this.i == this.current){this.items.push('c');continue;}
				this.items.push(this.i);
			}

			this.items.push(this.current < this.total ? 'ne' : 'nd');
			return this.items;
		}
	}
}
</script>

<style>
</style>
