<template>
	<div>
		<select class="form-control" :id="id" :name="name" :disabled="disabled" :required="required"></select>
	</div>
</template>

<script>

module.exports = {
	name: 'Select2',
	data() {
		return {
			select2: null
		};
	},
	model: {
		event: 'change',
		prop: 'value'
	},
	props: {
		id: {
			type: String,
			default: ''
		},
		name: {
			type: String,
			default: ''
		},
		placeholder: {
			type: String,
			default: ''
		},
		options: {
			type: Array,
			default: () => []
		},
		disabled: {
			type: Boolean,
			default: false
		},
		required: {
			type: Boolean,
			default: false
		},
		settings: {
			type: Object,
			default: () => {}
		},
		value: null
	},
	watch: {
		options(val) {
			this.setOption(val);
		},
		value(val) {
			this.setValue(val);
		}
	},
	methods: {
		setOption(val = []) {
			this.select2.empty();
			this.select2.select2({
				placeholder: this.placeholder,
				...this.settings,
				data: val
			});
			this.setValue(this.value);
		},
		setValue(val) {
			if (val instanceof Array) {
				this.select2.val([...val]);
			} else {
				this.select2.val([val]);
			}
			this.select2.trigger('change');
		}
	},
	mounted() {
		this.select2 = $(this.$el)
			.find('select')
			.select2({
				placeholder: this.placeholder,
				...this.settings,
				data: this.options
			})
			.on('select2:select select2:unselect', ev => {
				this.$emit('change', this.select2.val());
				this.$emit('select', ev['params']['data']);
			});
		this.setValue(this.value);
	},
	beforeDestroy() {
		this.select2.select2('destroy');
	}
};
</script>

<style>
.select2-container--default .select2-selection--multiple,.select2-container--default .select2-selection--single{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;border:1px solid #e4e6ef;outline:0!important;border-radius:.42rem;height:auto;line-height:0}.select2-container--default .select2-selection--multiple .select2-selection__placeholder,.select2-container--default .select2-selection--single .select2-selection__placeholder{color:#b5b5c3}.select2-container--default.select2-container--focus .select2-selection--multiple,.select2-container--default.select2-container--focus .select2-selection--single,.select2-container--default.select2-container--open .select2-selection--multiple,.select2-container--default.select2-container--open .select2-selection--single{border-color:#69b3ff}.select2-container--default .select2-selection--multiple .select2-selection__arrow,.select2-container--default .select2-selection--single .select2-selection__arrow{border:0;margin-left:.5rem;font-size:.85rem;left:auto;right:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;position:static;width:auto;height:20px;margin-right:1rem}.select2-container--default .select2-selection--multiple .select2-selection__arrow:after,.select2-container--default .select2-selection--single .select2-selection__arrow:after{font-family:Ki;font-style:normal;font-weight:400;font-variant:normal;line-height:1;text-decoration:inherit;text-rendering:optimizeLegibility;text-transform:none;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;content:"";font-size:.6rem;color:#7e8299}.select2-container--default .select2-selection--multiple .select2-selection__arrow b,.select2-container--default .select2-selection--single .select2-selection__arrow b{display:none}.select2-container--default .select2-selection--single .select2-selection__rendered{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;width:100%;color:#3f4254;position:relative;padding:.65rem 3rem .65rem 1rem;line-height:1.5}.select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear{border:0;font-size:0;display:inline-block;right:1.85rem;margin-right:.5rem;-webkit-box-ordinal-group:3;-ms-flex-order:2;order:2;position:absolute;right:0}.select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__clear:after{font-family:Ki;font-style:normal;font-weight:400;font-variant:normal;line-height:1;text-decoration:inherit;text-rendering:optimizeLegibility;text-transform:none;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;content:"";font-size:.6rem;color:#7e8299}.select2-container--default .select2-selection--multiple .select2-selection__rendered{color:#3f4254;padding:.37rem 1rem;line-height:1.5}.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:.25rem .75rem;font-size:1rem;margin:.1rem .4rem .1rem 0;position:relative;float:left;color:#3f4254;background:#f3f6f9;border:0;border-radius:.42rem}.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove{font-size:0;display:inline-block;line-height:0;margin-right:.5rem;position:relative}.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove:before{font-family:Ki;font-style:normal;font-weight:400;font-variant:normal;line-height:1;text-decoration:inherit;text-rendering:optimizeLegibility;text-transform:none;-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;font-smoothing:antialiased;content:"";font-size:.6rem;color:#7e8299}.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search__field::-moz-placeholder{color:#b5b5c3;opacity:1}.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search__field:-ms-input-placeholder{color:#b5b5c3}.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-search__field::-webkit-input-placeholder{color:#b5b5c3}.select2-container--default .select2-search--dropdown{padding:.65rem 1rem}.select2-container--default .select2-search--dropdown .select2-search__field{outline:0!important;border-radius:.42rem;border:1px solid #e4e6ef;padding:.65rem 1rem}.select2-container--default .select2-results__options{padding:.65rem 0}.select2-container--default .select2-results__option{padding:.65rem 1rem}.select2-container--default .select2-results__option[aria-disabled=true]{cursor:not-allowed}.select2-container--default .select2-results__option .select2-results__group{padding:5px 15px;font-weight:600}.select2-container--default .select2-container .select2-search--inline .select2-search__field{margin:0}.select2-container--default .select2-dropdown{border:1px solid #e4e6ef;-webkit-box-shadow:0 0 50px 0 rgba(82,63,105,.15);box-shadow:0 0 50px 0 rgba(82,63,105,.15)}.select2-container--default .select2-results__option.select2-results__option--highlighted{background:#f3f6f9;color:#3f4254}.select2-container--default .select2-results__option[aria-disabled=true]{color:#3f4254;opacity:.6}.select2-container--default .select2-results__option[aria-selected=true]{background:#ebedf3;color:#3f4254}.select2-container--default.select2-container--disabled{cursor:not-allowed}.select2-container--default.select2-container--disabled .select2-selection--multiple,.select2-container--default.select2-container--disabled .select2-selection--single{cursor:not-allowed;background-color:#fff;opacity:.5}select.select2{opacity:0}.select2>select.form-control{opacity:0}.select2.select2--elevate .select2-container--default .select2-selection--multiple,.select2.select2--elevate .select2-container--default .select2-selection--single{-webkit-box-shadow:0 0 50px 0 rgba(82,63,105,.15);box-shadow:0 0 50px 0 rgba(82,63,105,.15)}.select2.select2--solid .select2-container--default .select2-selection--multiple,.select2.select2--solid .select2-container--default .select2-selection--single{background-color:#f3f6f9;border-color:#ebedf3}.select2.select2--solid .select2-container--default .select2-selection--multiple .select2-selection__placeholder,.select2.select2--solid .select2-container--default .select2-selection--single .select2-selection__placeholder{color:#b5b5c3}.form.form-state .is-valid .select2-container--default .select2-selection--multiple,.form.form-state .is-valid .select2-container--default .select2-selection--single{border-color:success}.form.form-state .is-valid .select2-container--default.select2-container--focus .select2-selection--multiple,.form.form-state .is-valid .select2-container--default.select2-container--focus .select2-selection--single,.form.form-state .is-valid .select2-container--default.select2-container--open .select2-selection--multiple,.form.form-state .is-valid .select2-container--default.select2-container--open .select2-selection--single{border-color:success}.form.form-state .is-invalid .select2-container--default .select2-selection--multiple,.form.form-state .is-invalid .select2-container--default .select2-selection--single{border-color:danger}.form.form-state .is-invalid .select2-container--default.select2-container--focus .select2-selection--multiple,.form.form-state .is-invalid .select2-container--default.select2-container--focus .select2-selection--single,.form.form-state .is-invalid .select2-container--default.select2-container--open .select2-selection--multiple,.form.form-state .is-invalid .select2-container--default.select2-container--open .select2-selection--single{border-color:danger}
</style>