<template>
	<div>
		asd
		<Menu v-bind="this.$attrs" @openMenu="openMenu" @closeMenu="closeMenu">
			<slot></slot>
		</Menu>
	</div>
</template>

<script>
	module.exports = {
		name: 'slide',
		methods: {
			openMenu() {
				this.$emit('openMenu');
			},
			closeMenu() {
				this.$emit('closeMenu');
			}
		},
		components: {
			'Menu': httpVueLoader(indexURL + '/r/js/vue/components/menu.vue'),
		}
	};
</script>