<template>
	<div class="sidebar" class="scroll scroll-pull" data-scroll="true" data-wheel-propagation="true">
		<!-- <div class="bs-canvas-overlay bs-canvas-anim bg-dark position-fixed w-100 h-100"></div> -->
		<div :id="target" class="bs-canvas bs-canvas-anim bs-canvas-right position-fixed bg-light h-100">
			<header class="bs-canvas-header p-3 bg-primary overflow-auto">
				<button type="button" class="bs-canvas-close float-left close" aria-label="Close" @click="close"><span aria-hidden="true" class="text-light">&times;</span></button>
				<h4 class="d-inline-block text-light mb-0 float-right"><slot name="header"></slot></h4>

			</header>
			<div class="bs-canvas-content px-3 py-5">
				
				<slot name="content"></slot>
			</div>
		</div>


		
		
	</div>
</template>

<script>
module.exports = {
	data() {
		return {
			visible: false,
		}
	},
	props: {
		target: {
			type: String,
			default: ''
		},
		orientation: {
			type: String,
			default: 'right'
		},
		offset: {
			type: Number,
			default: 0
		},
		overlay: {
			type: Boolean,
			default: true
		},
		width: {
			type: String,
			default: '330px'
		}
	},
	watch: {
		// 'value' (val) {
		// 	setTimeout(() => this.toggle(val))
		// }
	},
	computed: {
	},
	mounted: function() {
		// <div class="bs-canvas-overlay bs-canvas-anim bg-dark position-fixed w-100 h-100"></div>
		// var elem = document.createElement('div');
		// elem.classList.add('bs-canvas-overlay')//.add('bs-canvas-anim').add('bg-dark').add('position-fixed').add('w-100').add('h-100');
		// elem.classList.add('bs-canvas-anim')
		// elem.classList.add('bg-dark')
		// elem.classList.add('position-fixed')
		// elem.classList.add('w-100')
		// elem.classList.add('h-100')
		// document.body.prepend(elem);
	},
	methods: {
		toggle() {
			var canvas = '#' + this.target;
			var bsMain = $('.bs-offset-main');
			var bsOverlay = $('.bs-canvas-overlay');
			
			var opts = {
				offset: this.offset,
				overlay: this.overlay,
				width: this.width
			};
			var prop = 'margin-' + this.orientation;

			if (opts.width === '100%' ){
				opts.offset = false;
			}
			
			$(canvas).css('width', opts.width);
			if( opts.offset && bsMain.length ){
				bsMain.css(prop, opts.width);
			}

			$(canvas + ' .bs-canvas-close').attr('aria-expanded', "true");
			$('[data-toggle="canvas"][data-target="' + canvas + '"]').attr('aria-expanded', "true");
			if( opts.overlay && bsOverlay.length ){
				bsOverlay.addClass('show');
			}
			return false;
			
		},
		close() {
			var bsMain = $('.bs-offset-main');
			var bsOverlay = $('.bs-canvas-overlay');
			var canvas, aria;
			if( $(this).hasClass('bs-canvas-close') ){
				canvas = $(this).closest('.bs-canvas');
				aria = $(this).add($('[data-toggle="canvas"][data-target="#' + canvas.attr('id') + '"]'));
				if( bsMain.length ){
					bsMain.css(($(canvas).hasClass('bs-canvas-right') ? 'margin-right' : 'margin-left'), '');
				}
			} else {
				canvas = $('.bs-canvas');
				aria = $('.bs-canvas-close, [data-toggle="canvas"]');
				if (bsMain.length){
					bsMain.css({
					   'margin-left': '',
					   'margin-right': ''
					});
				}
			}
			canvas.css('width', '');
			aria.attr('aria-expanded', "false");
			if (bsOverlay.length){
				bsOverlay.removeClass('show');
			}
			return false;
		}
	}
}
</script>

<style lang="css" scoped>
.bs-canvas-overlay {
   opacity: 0;
   z-index: -1;
}

.bs-canvas-overlay.show {
   opacity: 0.85;
   z-index: 1100;
}

.bs-canvas {
   top: 65px;
   height: calc(100% - 65px)!important;
   width: 0;
   z-index: 1110;
   overflow-x: hidden;
   overflow-y: auto;
   box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.75);;
}

.bs-canvas-left {
   left: 0;
}

.bs-canvas-right {
   right: 0;
   border-left:1px solid #ccc;
}

.bs-canvas-anim {
   transition: all .4s ease-out;
   -webkit-transition: all .3s ease-out;
   -moz-transition: all .3s ease-out;
   -ms-transition: all .3s ease-out;
}
</style>