<template>
	<div>
		<div class="form-group mt-5" v-if="error">
			<div class="alert alert-custom alert-light-danger fade show mb-5" role="alert">
				<div class="alert-icon">
					<i class="flaticon-warning"></i>
				</div>
				<div class="alert-text">{{ error }}</div>
				<div class="alert-close">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="error = false">
						<span aria-hidden="true">
							<i class="ki ki-close"></i>
						</span>
					</button>
				</div>
			</div>
		</div>

		<h5 class="mt-5">Datos personales</h5>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Nombre" v-model="name">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Apellidos" v-model="surname">
		</div>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Nombre de usuario" v-model="userName">
		</div>
		<div class="form-group">
			<input type="email" class="form-control" placeholder="Correo electrónico" v-model="userMail">
		</div>

		<h5>Contraseña</h5>
		<div class="form-group">
			<input type="password" class="form-control" placeholder="Contraseña" v-model="userPass">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" placeholder="Repetir contraseña" v-model="userPass2">
		</div>

		<h5>Permisos</h5>
		<div class="form-group">
			<select class="form-control" v-model="userModes" placeholder="Selecciona un rol">
				<option value="admin">Admin</option>
				<option value="manager">Manager</option>
				<option value="user">Usuario</option>
			</select>
		</div>

		
		<div class="form-group">
			<button type="button" class="btn btn-success mr-2" @click.prevent="saveUser">Guardar</button>
			<button type="reset" class="btn btn-secondary" @click.prevent="">Cancelar</button>
		</div>
	</div>
</template>

<script>
	module.exports = {
		data() {
			return {
				name: '',
				surname: '',
				userName: '',
				userMail: '',
				userModes: '',
				userPass: '',
				userPass2: '',
				error: false,
			};
		},
		props: {
		},
		created: function(){
		},
		mounted: function(){
		},
		methods: {
			saveUser: function(){
				if( this.userPass.length < 8 ){ 
					return this.error = 'La contraseña tiene que tener al menos 8 caracteres';
				}

				if( this.userPass != this.userPass2 ){
					return this.error = 'Las contraseñas no coinciden';
				}

				var _data = {
					name: this.name,
					surname: this.surname,
					userName: this.userName,
					userMail: this.userMail,
					userPass: this.userPass,
					userModes: this.userModes,
				};

				_api.users().create(_data).then((res) => {
					console.log(res)
				});
			}
		},
		computed: {
		},
		components: {
		}
	}
</script>

<style>

</style>