<template>
	<div>
		<div class="form-group mt-5" v-if="error">
			<div class="alert alert-custom alert-light-danger fade show mb-5" role="alert">
				<div class="alert-icon">
					<i class="flaticon-warning"></i>
				</div>
				<div class="alert-text">{{ error }}</div>
				<div class="alert-close">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close" @click="error = false">
						<span aria-hidden="true">
							<i class="ki ki-close"></i>
						</span>
					</button>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<select class="form-control" placeholder="Correo electrónico" v-model="profile">
			</select>
		</div>
	</div>
</template>

<script>
	module.exports = {
		data() {
			return {
				profiles: {},
				profile: '',
				error: false,
			};
		},
		props: {
			userId: {
				type: String
			}
		},
		created: function(){
		},
		mounted: function(){
			_api.prfl(this.profile).user(this.userId).get().then((res) => {

			});
		},
		methods: {
			addProfile: function(){
				var _data = {

				};

				_api.prfl(this.profile).user(this.userId).save().then((res) => {

				});
			}
		},
		computed: {
		},
		components: {
		}
	}
</script>

<style>

</style>