<template>
	<div>
		<image-carousel class="mb-7" :images="listing.images" v-if="listing.images.length" :id="'carousel_' + target"></image-carousel>

		<div class="kt-section">
			<div class="kt-section__title h3">
				{{ listing.title }}
				<span class="float-right">{{ formatNumber(listing.price) }} €</span>
			</div>
			<p class="kt-section__desc" v-html="listing.description"></p>
			<a :href="listing.url" target="_blank" class="btn btn-primary">Ver anuncio</a>
		</div>


	</div>
</template>

<script>
	
module.exports = {
	data() {
		return {
			listing: {}
		}
	},
	props: {
		target: {
			type: String
		},
		listingId: {
			type: String
		}
	},
	watch: {
		'listingId': function(){
			this.load();
		}
	},
	computed: {
	},
	mounted: function() {
		this.load();
	},
	methods: {
		load(){
			// console.log('listingId', this.listingId);
			_api.lstn(this.listingId).get().then((res) => {
				this.listing = res.result;
			});
		}
	},
	components: {
		'image-carousel': httpVueLoader(indexURL + '/r/js/vue/components/image-carousel.vue'),
	}
}
</script>

<style>
	
</style>