<template>
	<div>
		<div class="card card-custom">
			<!--<div class="card-header flex-wrap border-0 pt-6 pb-0">
				<div class="card-title">
					<h3 class="card-label">Coches 
					<span class="text-muted pt-2 font-size-sm d-block">Listado de todos los anuncios de coches</span></h3>
				</div>
			</div>
			<div class="card-body">
				<div class="mb-7">
					<div class="row align-items-center">
						<div class="col-xl-11 order-1 order-xl-1">
							<div class="row align-items-center mb-5">
								<div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
									<div class="kt-form__group">
										<div class="kt-form__label">
											<label>Marcas:</label>
										</div>
										<div class="kt-form__control">
											<select2 v-model="filter['brands']" :options="brands" :settings="{ placeholder: 'Selecciona marcas', multiple: true }" @change="loadModels"  />

										</div>
									</div>
								</div>
								<div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
									<div class="kt-form__group">
										<div class="kt-form__label">
											<label>Modelos:</label>
										</div>
										<div class="kt-form__control">
											<select2 v-model="filter['models']" :options="models" :settings="{ placeholder: 'Selecciona modelos', multiple: true }" @change="filterData"  />
										</div>
									</div>
								</div>
								<div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
									<div class="kt-form__group">
										<div class="kt-form__label">
											<label>Cambio:</label>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="kt-form__control">
													<select2 v-model="filter['transmissionType']" :options="transmissionOptions" :settings="{ placeholder: 'Todos',  minimumResultsForSearch: -1, allowClear: true }" @change="filterData"  />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
									<div class="kt-form__group">
										<div class="kt-form__label">
											<label>Vendedor:</label>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="kt-form__control">
													<select2 v-model="filter['sellerType']" :options="sellerOptions" :settings="{ placeholder: 'Todos',  minimumResultsForSearch: -1, allowClear: true }" @change="filterData"  />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
									<div class="kt-form__group">
										<div class="kt-form__label">
											<label>Provincia:</label>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="kt-form__control">
													<select2 v-model="filter['provinces']" :options="provinces" :settings="{ placeholder: 'Selecciona provincias', multiple: true }" @change="filterData"  />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row align-items-center mb-5">
								<div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
									<div class="kt-form__group">
										<div class="kt-form__label">
											<label>Año:</label>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="kt-form__control">
													<select2 v-model="filter['year']['from']" :options="years" :settings="{ placeholder: 'Desde',  minimumResultsForSearch: -1, allowClear: true }" @change="filterData"  />
												</div>
											</div>
											<div class="col-md-6">
												<div class="kt-form__control">
													<select2 v-model="filter['year']['to']" :options="years" :settings="{ placeholder: 'Hasta',  minimumResultsForSearch: -1, allowClear: true }" @change="filterData"  />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
									<div class="kt-form__group">
										<div class="kt-form__label">
											<label>Kilómetros:</label>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="kt-form__control">
													<select2 v-model="filter['kms']['from']" :options="kms" :settings="{ placeholder: 'Desde',  minimumResultsForSearch: -1, allowClear: true }" @change="filterData"  />
												</div>
											</div>
											<div class="col-md-6">
												<div class="kt-form__control">
													<select2 v-model="filter['kms']['to']" :options="kms" :settings="{ placeholder: 'Hasta',  minimumResultsForSearch: -1, allowClear: true }" @change="filterData"  />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
									<div class="kt-form__group">
										<div class="kt-form__label">
											<label>Precio:</label>
										</div>
										<div class="row">
											<div class="col-md-6">
												<div class="kt-form__control">
													<select2 v-model="filter['price']['from']" :options="price" :settings="{ placeholder: 'Desde',  minimumResultsForSearch: -1, allowClear: true }" @change="filterData"  />
												</div>
											</div>
											<div class="col-md-6">
												<div class="kt-form__control">
													<select2 v-model="filter['price']['to']" :options="price" :settings="{ placeholder: 'Hasta',  minimumResultsForSearch: -1, allowClear: true }" @change="filterData"  />
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-1 order-2 order-xl-2">
							<button type="button" class="btn btn-warning btn-block"><i class="la la-trash"></i> Limpiar</button>
							<button type="button" class="btn btn-success btn-block" @click.prevent="showCreateAlert"><i class="la la-warning"></i> Crear alerta</button>
						</div>
					</div>
				</div>

				<datatable v-if="headers.length && rows.length" :rows="rows" :headers="headers" :meta="meta" @reload="query" @sort="sortData">
					<template slot="actions">
						<a href="#" class="btn btn-sm btn-clean btn-icon mr-2" title="Get raw" @click.prevent="getRaw($event)"><i class="la la-code-fork"></i></a>
						<a href="#" class="btn btn-sm btn-clean btn-icon mr-2" title="View" @click.prevent="showListing($event)"><i class="la la-eye"></i></a>
						<a href="#" class="btn btn-sm btn-warning btn-clean btn-icon mr-2" title="View" @click.prevent="showListing2($event)"><i class="la la-eye"></i></a>
					</template>
				</datatable>

			</div>-->
		</div>

		<slideout target="bs-canvas-right" :overlay="true" width="33%" ref="overlay">
			<template slot="header">header</template>
			<listing-view slot="content" target="slideout" :listing-id="listingId" v-if="listingId"></listing-view>
		</slideout>

		<modal target="listingView" size="modal-xl">
			<template slot="header">header</template>
			<listing-view slot="content" target="modal" :listing-id="listingId" v-if="listingId"></listing-view>
		</modal>

		<modal target="rawData" size="modal-xl">
			<template slot="header">Raw data</template>
			<template slot="content">
				<pre class="language-json"><code class="language-json">{{rawData}}</code></pre>
			</template>
		</modal>

		<modal target="createAlert">
			<template slot="header">Crear alerta</template>
			<template slot="content" v-if="alertInfo">
				<!-- <p>¿Seguro que deseas crear una alerta con los siguientes datos?</p> -->

				<p v-if="alertInfo.brands"><b>Marcas:</b> {{ alertInfo.brands.join(', ') }}</p>
				<p v-if="alertInfo.models"><b>Modelos:</b> {{ alertInfo.models.join(', ') }}</p>
				<p v-if="alertInfo.yearFrom || alertInfo.yearTo">
					<b>Años:</b> 
					<span v-if="alertInfo.yearFrom && alertInfo.yearTo">De {{ alertInfo.yearFrom }} a {{ alertInfo.yearTo }}</span>
					<span v-else-if="alertInfo.yearFrom">Desde {{ alertInfo.yearFrom }}</span>
					<span v-else>Hasta {{ alertInfo.yearTo }}</span>
				</p>
				<p v-if="alertInfo.sellerType"><b>Vendedor:</b> {{ alertInfo.sellerType }}</p>
				<p v-if="alertInfo.transmissionType"><b>Cambio:</b> {{ alertInfo.transmissionType }}</p>
				<p v-if="alertInfo.kmsFrom || alertInfo.kmsTo">
					<b>Kilómetros:</b> 
					<span v-if="alertInfo.kmsFrom && alertInfo.kmsTo">De {{ alertInfo.kmsFrom }} a {{ alertInfo.kmsTo }}</span>
					<span v-else-if="alertInfo.kmsFrom">Desde {{ alertInfo.kmsFrom }}</span>
					<span v-else>Hasta {{ alertInfo.kmsTo }}</span>
				</p>
				<p v-if="alertInfo.priceFrom || alertInfo.priceTo">
					<b>Precio:</b> 
					<span v-if="alertInfo.priceFrom && alertInfo.priceTo">De {{ alertInfo.priceFrom }} a {{ alertInfo.priceTo }}</span>
					<span v-else-if="alertInfo.priceFrom">Desde {{ alertInfo.priceFrom }}€</span>
					<span v-else>Hasta {{ alertInfo.priceTo }}€</span>
				</p>
				<p v-if="alertInfo.provinces"><b>Provincias:</b> {{ alertInfo.provinces.join(', ') }}</p>
			</template>
			<template slot="footer">
				<button type="button" class="btn btn-secondary font-weight-bold" data-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary font-weight-bold" @click.prevent="createAlert">Crear alerta</button>
			</template>
		</modal>
	</div>


</template>

<script>
	module.exports = {
		data() {
			return {
				headers: [
					{ id: 'brand', name: 'Marca', sortable: true },
					{ id: 'model', name: 'Modelo', sortable: true },
					{ id: 'province', name: 'Provincia', sortable: true },
					{ id: 'km', name: 'Kilómetros', sortable: true },
					{ id: 'transmission', name: 'Transmisión', sortable: true },
					{ id: 'fuel', name: 'Combustible', sortable: true },
					{ id: 'year', name: 'Año', sortable: true },
					{ id: 'seats', name: 'Plazas', sortable: true },
					{ id: 'doors', name: 'Puertas', sortable: true },
					{ id: 'type', name: 'Tipo', sortable: true },
					{ id: 'price', name: 'Precio', sortable: true },
					{ id: 'page', name: 'Página', sortable: true },
					{ id: 'date', name: 'Fecha', sortable: true },
					{ id: 'images', name: '', sortable: false },
				],
				rows: [],

      			listingId: false,
      			rawData: false,

				'listings': {},
				'provinces': {},
				'brands': {},
				'models': {},
				'years': [],
				'price': [],
				'kms': [],
				'sellerOptions': [],
				'transmissionOptions': [],
				'filter': {
					'provinces': [],
					'brands': [],
					'models': [],
					'year': {
						from: null,
						to: null
					},
					'kms': {
						from: null,
						to: null
					},
					'price': {
						from: null,
						to: null
					},
					'sellerType': null,
					'transmissionType': null,
				},
				'alertInfo': {},
				'sort': false,
				'meta': {
					'total': 0,
					'items': 0,
					'page': 1
				}
			};
		},
		props: {
			user: {}
		},
		created: function(){
			var filterOptions = _api.lstns().filters().then((res) => {
				this.provinces = res.result.provinces;
				this.years = res.result.years;
				this.price = res.result.price;
				this.kms = res.result.kms;
				this.sellerOptions = res.result.sellerOptions;
				this.transmissionOptions = res.result.transmissionOptions;
			});
		},
		mounted: function(){
			_api.brnds().filter().then((res) => {
				this.brands = res.result;
			});

			if( localStorage.getItem('filters') ){
				this.filter = JSON.parse(localStorage.getItem('filters'));
				this.loadModels(false);
			}

			this.query();
		},
		methods: {
			query: function(){
				KTApp.block('.datatable', {
					overlayColor: '#000000',
					type: 'v2',
					state: 'primary',
					message: 'Cargando...'
				});


				let _params = this.getQueryParams();

				// if( this.filter ){
				// 	_params.set('filter', JSON.stringify(this.filter));
				// }

				if( this.sort ){
					_params.set('sort', this.sort);
				}

				_api.lstns().list(_params).then((res) => {
					this.listings = res.result;

					var rows = [];
					for( const listingId in this.listings ){
						var listing = this.listings[listingId];

						var row = [
							{'id': 'brandName', 'text': listing.brandName},
							{'id': 'modelName', 'text': listing.modelName},
							{'id': 'provinceName', 'text': listing.provinceName},
							{'id': 'km', 'text': formatNumber(listing.km)},
							{'id': 'transmissionType', 'text': listing.transmissionType},
							{'id': 'fuelType', 'text': listing.fuelType},
							{'id': 'year', 'text': listing.year},
							{'id': 'numberOfSeats', 'text': listing.numberOfSeats},
							{'id': 'numberOfDoors', 'text': listing.numberOfDoors},
							{'id': 'sellerType', 'text': listing.sellerType},
							{'id': 'price', 'text': formatNumber(listing.price) + ' €'},
							{'id': 'page', 'text': listing.page},
							{'id': 'date', 'text': listing.date},
							{'id': 'images', 'text': listing.images},
						];
						rows.push({id: listing._id, data: row});
					}

					this.rows = rows;

					this.meta.items = res.meta.items;

					KTApp.unblock('.datatable');
				});

				_api.lstns().total(_params).then((res) => {
					this.meta.total = res.result;
				});
			},
			filterData: function(){
				localStorage.setItem('filters', JSON.stringify(this.filter));

				this.query();
			},
			loadModels: function(query = true){
				let _params = new URLSearchParams();
				if( this.filter.brands !== false ){
					_params.set('brandId', this.filter.brands);
				}

				_api.mdls().filter(_params).then((res) => {
					this.models = res.result;
				});

				if( query ){
					// this.query();
					this.filterData();
				}
			},
			showListing: function($e){
				var listingId = $e.target.parentNode.dataset['id'];
				if( $e.target.nodeName == 'I' ){
					listingId = $e.target.parentNode.parentNode.dataset['id'];
				}
				this.listingId = listingId;
				this.$refs.overlay.toggle();
			},
			showListing2: function($e){
				var listingId = $e.target.parentNode.dataset['id'];
				if( $e.target.nodeName == 'I' ){
					listingId = $e.target.parentNode.parentNode.dataset['id'];
				}
				this.listingId = listingId;
				$('#listingView').modal('show')
			},
			getRaw: function($e){
				var listingId = $e.target.parentNode.dataset['id'];
				if( $e.target.nodeName == 'I' ){
					listingId = $e.target.parentNode.parentNode.dataset['id'];
				}

				_api.lstn(listingId).raw().then((res) => {
					this.rawData = res.result;
				});
				$('#rawData').modal('show')
			},
			showCreateAlert: function(){
				// console.log(this.brands)

				let _params = this.getQueryParams();

				_api.lstns().alert(_params).then((res) => {
					this.alertInfo = res.result;
				});

				$('#createAlert').modal('show');
			},
			createAlert: function(){
				var _data = {};
				if( this.filter.brands.length ){ _data.brandId = this.filter.brands }
				if( this.filter.models.length ){ _data.modelId = this.filter.models }
				if( this.filter.year.from ){ _data.yearMin = this.filter.year.from }
				if( this.filter.year.to ){ _data.yearMax = this.filter.year.to }
				if( this.filter.sellerType ){ _data.sellerType = this.filter.sellerType }
				if( this.filter.transmissionType ){ _data.transmissionType = this.filter.transmissionType }
				if( this.filter.kms.from ){ _data.kmMin = this.filter.kms.from }
				if( this.filter.kms.to ){ _data.kmMax = this.filter.kms.to }
				if( this.filter.price.from ){ _data.priceMin = this.filter.price.from }
				if( this.filter.price.to ){ _data.priceMax = this.filter.price.to }
				if( this.filter.provinces.length ){ _data.provinceId = this.filter.provinces }

				_api.alrts().create(_data).then((res) => {
					$('#createAlert').modal('hide');
				});
			},
			sortData: function(sort){
				this.sort = sort;
				
				this.query();
			},
			getQueryParams: function(){
				let _params = new URLSearchParams();
				if( this.meta.page > 1 ){
					_params.set('page', this.meta.page);
				}

				if( this.filter.brands.length ){			_params.set('brands', this.filter.brands); }
				if( this.filter.models.length ){			_params.set('models', this.filter.models); }
				if( this.filter.year.from ){				_params.set('yearFrom', this.filter.year.from); }
				if( this.filter.year.to ){					_params.set('yearTo', this.filter.year.to); }
				if( this.filter.sellerType ){				_params.set('sellerType', this.filter.sellerType); }
				if( this.filter.transmissionType ){			_params.set('transmissionType', this.filter.transmissionType); }
				if( this.filter.kms.from ){					_params.set('kmsFrom', this.filter.kms.from); }
				if( this.filter.kms.to ){					_params.set('kmsTo', this.filter.kms.to); }
				if( this.filter.price.from ){				_params.set('priceFrom', this.filter.price.from); }
				if( this.filter.price.to ){					_params.set('priceTo', this.filter.price.to); }
				if( this.filter.provinces.length ){			_params.set('provinces', this.filter.provinces); }

				return _params;
			}
		},
		watch: {
		},
		computed: {
		},
		components: {
			'select2': httpVueLoader(indexURL + '/r/js/vue/components/select2.vue'),
			'slideout': httpVueLoader(indexURL + '/r/js/vue/components/slideout.vue'),
			'listing-view': httpVueLoader(indexURL + '/r/js/vue/listings/listingView.vue'),
			'datatable': httpVueLoader(indexURL + '/r/js/vue/components/datatable.vue'),
			'modal': httpVueLoader(indexURL + '/r/js/vue/components/modal.vue'),
		}
	}
</script>

<style>
</style>