<template>
	<div class="widget-loading">
		<div></div>
		<div></div>
		<div></div>
	</div>
</template>


<script>
module.exports = {
	data: function() {
		return {}
	},
	props: {
	},
	created: function() {
	},
	mounted: function() {
	},
	methods: {
	},
	components: {
	}
}
</script>

<style type="text/css">
	.widget-loading{
		display:flex;
		box-sizing: border-box;
		vertical-align: middle;
		padding:2px 2px;
		height:8px;
		margin: 10px auto;
		justify-content: center;
	}
	.widget-loading > div{
		margin: 0 2px;
		border-radius: 50%!important;
		position: relative;
		display: inline-block;
		width: 8px;
		height: 8px;
		background: #ccc;
		transform: scale(0);
		transform-origin: center center;
		animation: widget-loading-anim 1.4s infinite linear;
		vertical-align: middle;
	}
	.widget-loading > div:nth-of-type(1){
		animation-delay: 0.2s;
	}
	.widget-loading > div:nth-of-type(2){
		animation-delay: 0.4s;
	}
	.widget-loading > div:nth-of-type(3){
		animation-delay: 0.6s;
	}
	.widget-loading > div:nth-of-type(4){
		animation-delay: 0.8s;
	}
	@keyframes widget-loading-anim {
		0%   { transform: scale(0.0); }
		40%  { transform: scale(1.0); }
		80%  { transform: scale(1.0); }
		100% { transform: scale(0.0); }
	}

	/* <transition name="transition-widget-loading-horizontal"> */
	.transition-widget-loading-horizontal-enter-active,
	.transition-widget-loading-horizontal-leave-active {
		transition: width .4s ease;
		width: 28px;
	}
	.transition-widget-loading-horizontal-enter,
	.transition-widget-loading-horizontal-leave-to {
		width: 0;
	}
</style>