<template>

	<ul class="kt-pagination__links">
		<template v-for="it in _items">
			<!-- <li class="kt-pagination__link--first"><a href="#"><i class="las la-angle-double-left kt-font-brand"></i></a></li> -->
			<li class="page-item disabled" v-if="it == 'pd'"><a href="" @click.prevent=""><i class="las la-angle-left kt-font-brand"></i></a></li>
			<li class="kt-pagination__link--prev" v-else-if="it == 'pe'"><a href="" @click.prevent="$emit('input', (current - 1))"><i class="las la-angle-left kt-font-brand"></i></a></li>

			<li class="page-item disabled" v-else-if="it == 'nd'"><a href="" @click.prevent="$emit('input', (current + 1))"><i class="las la-angle-right kt-font-brand"></i></a></li>
			<li class="kt-pagination__link--next" v-else-if="it == 'ne'"><a href="" @click.prevent="$emit('input', (current + 1))"><i class="las la-angle-right kt-font-brand"></i></a></li>
			<!-- <li class="kt-pagination__link--last"><a href="#"><i class="las la-angle-double-right kt-font-brand"></i></a></li> -->

			<li class="kt-pagination__link--active" v-else-if="it == 'c'"><a href="#">{{current}}</a></li>
			<li v-else><a href="" @click.prevent="$emit('input', it)">{{it}}</a></li>
		</template>
	</ul>
</template>

<script>
module.exports = {
	data: function() {
		return {
			'items': []
		}
	},
	props: {
		'current': Number,
		'total': Number,
		'buttons': Number
	},
	mounted: function() {

	},
	computed: {
		_items: function(){
			this.current = this.lowerLimit = this.upperLimit = Math.min(this.current,this.total);

			for (this.b = 1; this.b < this.buttons && this.b < this.total;){
				if (this.lowerLimit > 1) {
					this.lowerLimit--;
					this.b++;
				}
				if (this.b < this.buttons && this.upperLimit < this.total) {
					this.upperLimit++;
					this.b++;
				}
			}

			this.items = [];
			this.items[0] = (this.current > 1) ? 'pe' : 'pd';

			for (this.i = this.lowerLimit; this.i <= this.upperLimit; this.i++) {
				if (this.i == this.current){this.items.push('c');continue;}
				this.items.push(this.i);
			}

			this.items.push(this.current < this.total ? 'ne' : 'nd');
			return this.items;
		}
	}
}
</script>

<style>
</style>
