<template>
	<div class="d-flex flex-column-fluid">
		<div class="container-fluid">
			<router-view></router-view>
		</div>
	</div>
</template>

<script>
module.exports = {
	data() {
		return {
		};
	},
	props: {
	},
	created: function(){
	},
	mounted: function(){
	},
	methods: {
	},
	computed: {
	},
	components: {
	}
}
</script>

<style>

</style>