<template>
	<div>
		<!--begin::Main-->
		<!--[html-partial:include:{"file":"partials/_header-mobile.html"}]/-->
		<header-mobile></header-mobile>
		<div class="d-flex flex-column flex-root">

			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">

				<!--[html-partial:include:{"file":"partials/_aside.html"}]/-->
				<main-aside></main-aside>

				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">

					<!--[html-partial:include:{"file":"partials/_header.html"}]/-->
					<main-header></main-header>

					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

						<!--[html-partial:include:{"file":"partials/_content.html"}]/-->
						<main-content></main-content>
					</div>

					<!--end::Content-->

					<!--[html-partial:include:{"file":"partials/_footer.html"}]/-->
					<main-footer></main-footer>
				</div>

				<!--end::Wrapper-->
			</div>

			<!--end::Page-->
		</div>
		<!--end::Main-->
	</div>
</template>

<script>
module.exports = {
	data() {
		return {
			userOB: {}
		};
	},
	props: {
		user: {}
	},
	created: function(){
	},
	mounted: function(){
		this.userOB = this.user;
	},
	methods: {
	},
	computed: {
	},
	components: {
		'header-mobile': httpVueLoader(indexURL + '/r/js/vue/main/header-mobile.vue'),
		'main-aside': httpVueLoader(indexURL + '/r/js/vue/main/aside.vue'),
		'main-header': httpVueLoader(indexURL + '/r/js/vue/main/header.vue'),
		'main-content': httpVueLoader(indexURL + '/r/js/vue/main/content.vue'),
		'main-footer': httpVueLoader(indexURL + '/r/js/vue/main/footer.vue'),
	}
}
</script>

<style>

</style>