<template>
	<div>
		<!--[html-partial:include:{"file":"partials/_page-loader.html"}]/-->
		<!-- <page-loader></page-loader> -->

		<!--[html-partial:include:{"file":"layout.html"}]/-->
		<layout></layout>

		<!--[html-partial:include:{"file":"partials/_extras/offcanvas/quick-cart.html"}]/-->
		<!-- <quick-cart v-if="userOB._id"></quick-cart> -->

		<!--[html-partial:include:{"file":"partials/_extras/scrolltop.html"}]/-->
		<scrolltop></scrolltop>
	</div>
</template>

<script>
module.exports = {
	data() {
		return {
		};
	},
	props: {
	},
	created: function(){
	},
	mounted: function(){
		// this.getUser();
	},
	methods: {
		getUser: function(){
			/*_api.users().me().then((res) => {
				if( res.status != 'OK' ){ location.href = indexURL + '/user/login'; }
				this.userOB = res.result;
			});*/
		}
	},
	computed: {
	},
	watch: {
	},
	components: {
		// 'page-loader': httpVueLoader(indexURL + '/r/js/vue/main/page-loader.vue'),
		'layout': httpVueLoader(indexURL + '/r/js/vue/main/layout.vue'),
		'quick-cart': httpVueLoader(indexURL + '/r/js/vue/main/quick-cart.vue'),
		'scrolltop': httpVueLoader(indexURL + '/r/js/vue/main/scrolltop.vue'),
	}
}
</script>

<style>

</style>