<template>
	<!--begin::Page loader-->
	<div class="page-loader">
		<div class="spinner spinner-primary"></div>
	</div>
	<!--end::Page Loader-->
</template>

<script>
module.exports = {
	data() {
		return {
		};
	},
	props: {
		users: {}
	},
	created: function(){
	},
	mounted: function(){
	},
	methods: {
	},
	computed: {
	},
	components: {
	}
}
</script>

<style>
	
</style>