<template>
	<div>
		<!--begin::Header-->
		<div class="d-flex align-items-center justify-content-between flex-wrap p-8 bgi-size-cover bgi-no-repeat rounded-top" style="background-image: url(/r/images/bg-1.jpg)">
			<div class="d-flex align-items-center mr-2">

				<!--begin::Symbol-->
				<div class="symbol bg-white-o-15 mr-3">
					<span class="symbol-label text-success font-weight-bold font-size-h4">S</span>
				</div>

				<!--end::Symbol-->

				<!--begin::Text-->
				<div class="text-white m-0 flex-grow-1 mr-3 font-size-h5">{{ userOB.fullName }}</div>

				<!--end::Text-->
			</div>
			<span class="label label-success label-lg font-weight-bold label-inline">3 mensajes</span>
		</div>
		<!--end::Header-->

		<!--begin::Nav-->
		<div class="navi navi-spacer-x-0 pt-5">

			<!--begin::Item-->
			<router-link to="/user/edit" class="navi-item px-8">
				<div class="navi-link">
					<div class="navi-icon mr-2">
						<i class="flaticon2-calendar-3 text-success"></i>
					</div>
					<div class="navi-text">
						<div class="font-weight-bold">Mi perfil</div>
						<div class="text-muted">Account settings and more
							<span class="label label-light-danger label-inline font-weight-bold">update</span>
						</div>
					</div>
				</div>
			</router-link>

			<!--end::Item-->

			<!--begin::Item-->
			<a href="custom/apps/user/profile-3.html" class="navi-item px-8">
				<div class="navi-link">
					<div class="navi-icon mr-2">
						<i class="flaticon2-mail text-warning"></i>
					</div>
					<div class="navi-text">
						<div class="font-weight-bold">Mis mensajes</div>
						<div class="text-muted">Inbox and tasks</div>
					</div>
				</div>
			</a>

			<!--end::Item-->

			<!--begin::Item-->
			<a href="custom/apps/user/profile-2.html" class="navi-item px-8">
				<div class="navi-link">
					<div class="navi-icon mr-2">
						<i class="flaticon2-rocket-1 text-danger"></i>
					</div>
					<div class="navi-text">
						<div class="font-weight-bold">Mis actividades</div>
						<div class="text-muted">Logs and notifications</div>
					</div>
				</div>
			</a>

			<!--end::Item-->

			<!--begin::Item-->
			<a href="custom/apps/userprofile-1/overview.html" class="navi-item px-8">
				<div class="navi-link">
					<div class="navi-icon mr-2">
						<i class="flaticon2-hourglass text-primary"></i>
					</div>
					<div class="navi-text">
						<div class="font-weight-bold">Mis tareas</div>
						<div class="text-muted">latest tasks and projects</div>
					</div>
				</div>
			</a>

			<!--end::Item-->

			<!--begin::Footer-->
			<div class="navi-separator mt-3"></div>
			<div class="navi-footer px-8 py-5">
				<a href="custom/user/login-v2.html" target="_blank" class="btn btn-light-primary font-weight-bold">Cerrar sesión</a>
				<a href="custom/user/login-v2.html" target="_blank" class="btn btn-clean font-weight-bold">Upgrade Plan</a>
			</div>

			<!--end::Footer-->
		</div>
		<!--end::Nav-->
	</div>
</template>

<script>
module.exports = {
	data() {
		return {
			userOB: {}
		};
	},
	props: {
		user: {}
	},
	created: function(){
	},
	mounted: function(){
		this.userOB = this.user;
	},
	methods: {
	},
	computed: {
	},
	components: {
	}
}
</script>

<style>

</style>